* {
  margin: 0;
  padding: 0;
  vertical-align: baseline;
}

html,
body {
  width: 100%;
  height: 100%;
}

#quote-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  max-width: 75%;
  margin-left: auto;
  margin-right: auto;
}

body {
  background: linear-gradient(
    45deg,
    #bf9191,
    #e0e5a8,
    #55c9bc,
    #c98d55,
    #97a3db,
    #ba29b5,
    #679191,
    #cfcef0,
    #87a38f,
    #5e4e4b,
    #bfd91a
  );
  background-size: 400% 400%;
  animation: gradient 60s ease infinite;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

#text {
  background-color: white;
  color: black;
  font-size: 25px;
  font-weight: 450;
  padding: 50px 50px 50px 50px;
  border: solid 5px black;
  border-radius: 1px;
  text-align: right;
  box-shadow: 20px 20px;
  margin-bottom: 50px; 
  border-radius: 10px;
}

#author {
  color: black;
  font-size: 25px;
}

#new-quote {
  background: linear-gradient(
    45deg,
    #bf9191,
    #e0e5a8,
    #55c9bc,
    #c98d55,
    #97a3db,
    #ba29b5,
    #679191,
    #cfcef0,
    #87a38f,
    #5e4e4b,
    #bfd91a
  );
  background-size: 400% 400%;
  animation: gradient 60s ease infinite;
  padding: 12px 12px 12px 12px;
  margin-left: 30px;
  border: solid 3px black;
  color: white;
  font: 550 19px Arial;
  border-radius: 10px;
  display: inline-block;
}

#new-quote:hover {
  color: black;
  background: #f0fff0;
  box-shadow: 2px 3px;
  transition: .5s;
}

#tweet-quote {
  color: black;
  padding: 12px 12px 12px 12px;
  border: solid 3px black;
  font-size: 20px;
  transition: .5s;
  border-radius: 10px;
  display: inline-block;
}

#tweet-quote:hover {
  color: #1e90ff;
  box-shadow: 3px 3px;
}

.footer {
  text-align: center;
  color: white;
  margin-top: -2rem;
  font: 550 20px Arial;
}

a {
    text-decoration: none;
    color: #032431;
  }
a:hover {
    color: black;
  } 

.row {
  display: flex;
}

.column {
  padding-top: 25px;
  text-align: center;
}

#twitter {
  flex: 25%;
}

#quote-button {
  flex: 75%;
}